.image-grid{
    margin-left: 1%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.image-grid div{
    height: auto;
    margin-bottom: 10px;
}
.image-grid div img{
    width: 95%;
    height: auto;
    box-shadow: 3px 3px 3px darkgrey;
    transition: 1s;
}
.image-grid div img:hover{
    position: relative;
    z-index: 3;
    margin-left: -10px;
    margin-top: -10px;

}
