label{
    display: none;
}
.search-header{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.search-header input, .search-header select{
    width: 50%;
    height: 35px;
    border: 3px solid black;
    border-radius: 0;
}

.search-header button{
    height: 35px;
    border: 3px solid black;
    transition: 1s;
}
.search-header button:hover{
    background-color: lightblue;
}
@media (min-width: 620px){
    .search-header{
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .search-header button{
        height: 35px;
        border: 3px solid black;
    }

}


/*----END HEADER---*/

.search-home{
    min-height: 400px;
    display: grid;
    justify-content: center;
    align-content: center;
}
.search-home select{
    height: 25px;
    background: #fefefe;
}
.search-home button{
    width: 100%;
    background: #fefefe;
    transition: 1s;
}
.search-home button:hover{
    background-color: lightblue;
}
@media (min-width: 768px){
    .search-home fieldset{
        margin-left: 100px;
        margin-right: 100px;
    }
    .search-home input{
        width: 300px;
        align-self: center;
    }
    .search-home select{
        height: 25px;
        display: inline-block;
        width: 100px;
        align-self: center;
    }
    .search-home button{
        /*justify-self: center;*/
        margin-left: 100px;
        margin-right: 100px;
        width: 400px;
    }


}

