
.weather-icon{
    height: 0;
}
.weather-icon img{
    width: 100px;
    height: 100px;
}

.weather-temp{
    margin: 5px;
    text-align: right;
}
.weather-temp h1{
}

.weather-strings{
    text-align: left;
}

.weather-strings ul{
    margin: 5px;
    list-style: none;
    text-align: left;
    padding: 5px 0 0 0;

}
.weather-strings ul li{
    margin-left: 0;
}
